<% include header %> 
<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <a class="btn btn-primary" href="/category/create">Create</a>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Product</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(element => { %>
          <tr>
            <td><%= element.prodid %></td>
            <td><%= element.prodname %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include footer %> 