<% include header %>
<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <a class="btn btn-primary" href="/products/create">Create</a>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>name</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <% subcategories.forEach(element => { %>
          <tr>
            <td><%= element.subcatid %></td>
            <td><%= element.subcatname %></td>
            <td><a href="/products?category=<%= element.category %>&subcategory=<%= element.subcatname %>">View Products</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include footer %>